.splash-page__call-out {
  color: white;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 56px;
  right: calc(50% - 441px);
  text-decoration: none;
}